.title-on-black {
  font-size: 1.5em;
  font-weight: 800;
  margin-top: 20px;
  text-align: center;

  &_emoji {
    padding-top: 80px;
    font-size: 3em;
    text-align: center;
  }

  &_main {
    font-size: 2em;
    font-weight: 800;
    color: var(--primary);
    margin: 0;
    text-align: center;

    &:hover {
      color: var(--tertiary);
    }
  }

  &__description {
    text-align: center;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}


.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    float: center;
    margin: 0 10px;

    &:hover {
      color: var(--tertiary);
    }
  }
}