body {
  font-family: 'Source Code Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--background);
  font-size: 1em;
  line-height: 1.5;
  color: var(--background-text);
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

#root {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  box-sizing: border-box;
  height: 100vs;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

p {
  margin: 0;
}

a:link {
  color: var(--primary);
}

a:visited {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

a:active {
  color: var(--tertiary);
}

.page {
  display: flex;
  box-sizing: border-box;
  height: 100vss;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  max-width: 1260px;
}

@media (max-width:868px) {
  .page {
    padding: 35px;
  }
}

@media (max-width:768px) {
  .page {
    padding: 40px;
  }
}

@media (max-width:668px) {
  .page {
    padding: 15px;
  }
}

@media (max-width:576px) {
  .page {
    padding: 40px;
  }
}

@media (max-width:500px) {
  .page {
    padding: 35px;
  }
}

@media (max-width:400px) {
  .page {
    padding: 15px;
  }
}