:root {
  /* colors */
  --text: #121212;
  --text-light: #666;
  --background: #140032;
  --background-text: white;
  --primary: #9B00DC;
  --primary-dark: #3C008C;
  --secondary: #FF009B;
  --tertiary: #FFFF00;
}
